package initialize

import (
	"context"
	"fmt"
	model "github.com/flipped-aurora/gin-vue-admin/server/model/system"
	"github.com/flipped-aurora/gin-vue-admin/server/plugin/utils"
	"go.uber.org/zap"
)

func Api(ctx context.Context) {
	entities := []model.SysApi{}
	err := utils.Register.Apis(ctx, entities)
	if err != nil {
		zap.L().Error(fmt.Sprintf("%+v", err))
	}
}
