<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <title>四川禹冰工程勘察设计有限公司</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
  <meta name="renderer" content="webkit">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="stylesheet" href="lib/css/common.css">
  <link rel="stylesheet" type="text/css" href="lib/css/animate.min.css"/>
  <link rel="stylesheet" type="text/css" href="lib/css/common.css">
  <link rel="stylesheet" type="text/css" href="lib/swiper/swiper.min.css">
  <link rel="stylesheet" type="text/css" href="lib/css/main.css">
  <link rel="stylesheet" type="text/css" href="lib/css/device.css">
  <!--[if lt IE 9]>
  <script src="lib/html_js/html5shiv.min.js"></script>
  <script type="text/javascript" src="lib/html_js/respond.min.js"></script>
  <![endif]-->
</head>

<body>
<!--header start-->
<header class="ui_box header">
  <div class="w1500">
    <div class="logotop">
      <a href="" class="logo fl"><img src="lib/images/logo.png" alt="四川禹冰工程勘察设计有限公司" title="四川禹冰工程勘察设计有限公司"></a>
      <div class="i_bcss fr">
      <div class="i_bcss_t">&nbsp;</div>
      <div class="i_bcss_c">
        <input type="text" class="ipt1 fl" placeholder="请输入搜索内容">
        <input type="submit" class="ipt2 fl" value="">
      </div>
    </div>
      <div class="i_logo_ul fr">
      <ul class="nav_menu">
       <li>
         <a href="index.html" class="a_nav bigzm">首页</a>
       </li>
       <li>
         <a href="about.html" class="a_nav bigzm active1">关于禹冰</a>
         <dl>
           <dd>
             <a href="">公司概况</a>
           </dd>
           <dd>
             <a href="">董事长致辞</a>
           </dd>
           <dd>
             <a href="">资质荣誉</a>
           </dd>
           <dd>
             <a href="">企业文化</a>
           </dd>
         </dl>
       </li>
       <li>
         <a href="products.html" class="a_nav bigzm">业务范围</a>
         <dl>
           <dd>
             <a href="">水利市政设计</a>
           </dd>
           <dd>
             <a href="">工程勘察</a>
           </dd>
           <dd>
             <a href="">工程造价咨询</a>
           </dd>
           <dd>
             <a href="">工程监理监测</a>
           </dd>
           <dd>
             <a href="">招标代理资质</a>
           </dd>
         </dl>
       </li>
       <li>
         <a href="process.html" class="a_nav bigzm">工程项目</a>
           <dl>
           <dd>
             <a href="">分类名称</a>
           </dd>
           <dd>
             <a href="">分类名称</a>
           </dd>
         </dl>
       </li>
       <li>
         <a href="news.html" class="a_nav bigzm">新闻资讯</a>
         <dl>
           <dd>
             <a href="news_list.html">企业新闻</a>
           </dd>
           <dd>
             <a href="news_list.html">行业动态</a>
           </dd>
         </dl>
         
       </li>
       <li>
         <a href="cases.html" class="a_nav bigzm">人力资源</a>
         <dl>
           <dd>
             <a href="">人才招聘</a>
           </dd>
         </dl>
       </li>
       <li>
         <a href="contact.html" class="a_nav bigzm">联系我们</a>
       </li>
     </ul>
   </div>
       <div class="clearboth"></div>
    </div>
  </div>
</header>
<!--手机端导航start-->
<div class="phone_nav">
        <div class="phone_logo">
            <a href="index.html" class="p1">
                <img src="lib/images/logo.png" alt="四川禹冰工程勘察设计有限公司" title="四川禹冰工程勘察设计有限公司">
            </a>
        </div>
        <div class="i_ssbn">
           <span>&nbsp;</span>
          <div class="i_ssbn_div">
           <input type="text" class="ipt1 fl" placeholder="请输入搜索内容">
           <input type="submit"  class="ipt2 fl" value="">
          </div>
        </div>
        <div class="nav_but_box"><span class="nav_but"></span></div>
        <div class="nav_main">
            <ul>
                <li><a href="index.html">首页</a></li>
                <li>
                   <a href="about.html" target="_blank">关于禹冰</a>
                    <b></b>
                    <ul class="ul">
                        <li><a href="" target="_blank">公司概况</a></li>
                        <li><a href="" target="_blank">董事长致辞</a></li>
                        <li><a href="" target="_blank">资质荣誉</a></li>
                        <li><a href="" target="_blank">企业文化</a></li>
                    </ul>
                </li>
                <li>
                  <a href="products.html" target="_blank">业务范围</a>
                  <b></b>
                    <ul class="ul">
                        <li><a href="" target="_blank">水利市政设计</a></li>
                        <li><a href="" target="_blank">工程勘察</a></li>
                        <li><a href="" target="_blank">工程造价咨询</a></li>
                        <li><a href="" target="_blank">工程监理监测</a></li>
                        <li><a href="" target="_blank">招标代理资质</a></li>
                    </ul>
                </li>
                <li>
                   <a href="process.html" target="_blank">工程项目</a>
                   <b></b>
                    <ul class="ul">
                        <li><a href="" target="_blank">分类名称</a></li>
                        <li><a href="" target="_blank">分类名称</a></li>
                    </ul>
                </li>
                <li>
                   <a href="news.html" target="_blank">新闻资讯</a>
                   <b></b>
                    <ul class="ul">
                        <li><a href="" target="_blank">企业新闻</a></li>
                        <li><a href="" target="_blank">行业动态</a></li>
                    </ul>
                </li>
                <li>
                   <a href="cases.html" target="_blank">人力资源</a>
                   <b></b>
                    <ul class="ul">
                        <li><a href="" target="_blank">人才招聘</a></li>
                    </ul>
                </li>
                <li>
                   <a href="contact.html">联系我们</a>
                </li>
            </ul>
        </div>
    </div>
<!--手机端导航end-->
<!--header end-->
<!--banner start-->
<div class="n_banner" style="background-image:url(lib/images/n_banner2.jpg);">
  <img src="lib/images/n_banner2.jpg">
  <div class="n_banner_text">
    <div class="w1500">
      <div class="n_banner_text_c bigzm">
        <h1>关于禹冰</h1>
        ABOUT US<br>
        追求卓越服务，争创一流设计企业
      </div>
    </div>
  </div>
</div>
<!--banner end-->
<!--phone内页导航start-->
<section class="a_zxlmenu">
  <div class="a_zxlmenu_t">关于禹冰</div>
        <ul class="fl a_zxlmenu_c">
          <li>
          <a href="about.html" class="aone">公司概况</a>
          </li>
          <li>
          <a href="about_dsz.html" class="aone">董事长致辞</a>
          </li>
          <li>
          <a href="about_zz.html" class="aone">资质荣誉</a>
          </li>
          <li>
          <a href="about_wh.html" class="aone">企业文化</a>
          </li>
          
        </ul>
        <div class="clearboth"></div>
</section>
<!--phone内页导航end-->
<!--content start-->
<section class="ui_box n_bg1" style="background-image:url(lib/images/bg2.jpg);">
  <div class="w1500">
     <div class="n_box1 set_box_wrap">
       <div class="n_box1_l">
         <div class="n_box1_l_t">
           <div class="n_box1_l_t_c">
               <a href="">首页</a> > 
               董事长致辞
           </div>
         </div>
         <div class="n_box1_l_c">
           <div class="n_box1_l_c_t bigzm">
             关于禹冰<br>
             about us
           </div>
           <ul class="n_box1_l_c_ul fl">
             <li>
               <a href="about.html">公司概况</a>
             </li>
             <li>
               <a href="about_dsz.html" class="activeleft">董事长致辞</a>
             </li>
             <li>
               <a href="about_zz.html">资质荣誉</a>
             </li>
             <li>
               <a href="about_wh.html">企业文化</a>
             </li>
           </ul>
           <div class="clearboth"></div>
         </div>
       </div>
       <div class="n_box1_r">
         <div class="n_box1_r_t">
          董事长致辞
         </div>
         <div class="n_box1_r_c">
           <div class="n_about">
             四川禹冰工程勘察设计有限公司，成立于2015年8月，办公及注册地位于成都市青羊区日月大道一段978号2栋1单元914-918号，已通过 IS09001质量管理体系认证、IS014001环境管理体系认证、IS045001职业健康安全管理体系认证，属国家高新技术企业。 
           </div>
         </div>
         
       </div>
     </div>
  </div>
</section>

<!--content end-->
 <!--footer start-->
 <div class="ui_box">
   <div class="ui_box i_ff">
     <div class="w1500">
       <div class="i_footer_t set_box_wrap">
         <a href="" class="a_logo"><img src="lib/images/logo.png" alt="四川禹冰工程勘察设计有限公司" title="四川禹冰工程勘察设计有限公司"></a>
         <div class="a_phone">028-85593003</div>
       </div>
     </div>
   </div>
  <div class="w1400">
   <div class="i_footer_c">
     <ul class="i_footer_c_l fl">
       <li>
         <a href="" class="a1">首页</a>
         <a href="" class="a2"></a>
         <div class="clearboth"></div>
       </li>
       <li>
         <a href="" class="a1">关于禹冰</a>
         <a href="" class="a2">公司概况</a>
         <a href="" class="a2">董事长致辞</a>
         <a href="" class="a2">资质荣誉</a>
         <a href="" class="a2">企业文化</a>
         <div class="clearboth"></div>
       </li>
       <li>
         <a href="" class="a1">业务范围</a>
         <a href="" class="a2">水利市政设计</a>
         <a href="" class="a2">工程勘察</a>
         <a href="" class="a2">工程造价咨询</a>
         <a href="" class="a2">工程监理监测</a>
         <a href="" class="a2">招标代理资质</a>
         <div class="clearboth"></div>
       </li>
       <li>
         <a href="" class="a1">工程项目</a>
         <a href="" class="a2">分类名称</a>
         <a href="" class="a2">分类名称</a>
         <div class="clearboth"></div>
       </li>
       <li>
         <a href="" class="a1">新闻资讯</a>
         <a href="" class="a2">企业新闻</a>
         <a href="" class="a2">行业动态</a>
         <div class="clearboth"></div>
       </li>
       <li>
         <a href="" class="a1">人力资源</a>
         <a href="" class="a2">人才招聘</a>
         <div class="clearboth"></div>
       </li>
       <li>
         <a href="" class="a1">联系我们</a>
         <div class="clearboth"></div>
       </li>
     </ul>
     <div class="i_footer_c_r fr">
       <img src="lib/images/img4.jpg">
       微信公众号
     </div>
     <div class="clearboth"></div>
   </div>
   </div>
   <div class="ui_box i_fbg">
     <div class="w1500">
       <div class="i_footer_bq">
        四川禹冰工程勘察设计有限公司ICP备蜀ICP备17***967号-1  公司地址：成都市青羊区日月大道一段978号   电话：028-85593003
       </div>
     </div>
   </div>
 </div> 
  <!--footer end-->
  

<div class="back_top">&nbsp;</div>
</body>
<script type="text/javascript" src="lib/js/jquery-1.12.4.min.js"></script>
<script src="lib/js/wow.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="lib/js/smooth.min.js"></script>
<script type="text/javascript" src="lib/swiper/swiper.jquery.min.js"></script>
<script type="text/javascript" src="lib/js/model_dlhd.js"></script>
</html>
