<div class="ui_box">
    <div class="ui_box i_ff">
      <div class="w1500">
        <div class="i_footer_t set_box_wrap">
          <a href="" class="a_logo"><img src="/static/lib/images/logo.png" alt="四川禹冰工程勘察设计有限公司" title="四川禹冰工程勘察设计有限公司"></a>
          <div class="a_phone">028-85593003</div>
        </div>
      </div>
    </div>
   <div class="w1400">
    <div class="i_footer_c">
      <ul class="i_footer_c_l fl">
        <li>
          <a href="" class="a1">首页</a>
          <a href="" class="a2"></a>
          <div class="clearboth"></div>
        </li>
        <li>
          <a href="" class="a1">关于禹冰</a>
          <a href="" class="a2">公司概况</a>
          <a href="" class="a2">董事长致辞</a>
          <a href="" class="a2">资质荣誉</a>
          <a href="" class="a2">企业文化</a>
          <div class="clearboth"></div>
        </li>
        <li>
          <a href="" class="a1">业务范围</a>
          <a href="" class="a2">水利市政设计</a>
          <a href="" class="a2">工程勘察</a>
          <a href="" class="a2">工程造价咨询</a>
          <a href="" class="a2">工程监理监测</a>
          <a href="" class="a2">招标代理资质</a>
          <div class="clearboth"></div>
        </li>
        <li>
          <a href="" class="a1">工程项目</a>
          <a href="" class="a2">分类名称</a>
          <a href="" class="a2">分类名称</a>
          <div class="clearboth"></div>
        </li>
        <li>
          <a href="" class="a1">新闻资讯</a>
          <a href="" class="a2">企业新闻</a>
          <a href="" class="a2">行业动态</a>
          <div class="clearboth"></div>
        </li>
        <li>
          <a href="" class="a1">人力资源</a>
          <a href="" class="a2">人才招聘</a>
          <div class="clearboth"></div>
        </li>
        <li>
          <a href="" class="a1">联系我们</a>
          <div class="clearboth"></div>
        </li>
      </ul>
      <div class="i_footer_c_r fr">
        <img src="/static/lib/images/img4.jpg">
        微信公众号
      </div>
      <div class="clearboth"></div>
    </div>
    </div>
    <div class="ui_box i_fbg">
      <div class="w1500">
        <div class="i_footer_bq">
         四川禹冰工程勘察设计有限公司ICP备蜀ICP备17***967号-1  公司地址：成都市青羊区日月大道一段978号   电话：028-85593003
        </div>
      </div>
    </div>
  </div> 
   <!--footer end-->
   
 
 <div class="back_top">&nbsp;</div>
 </body>
 <script type="text/javascript" src="/static/lib/js/jquery-1.12.4.min.js"></script>
 <script src="/static/lib/js/wow.min.js" type="text/javascript" charset="utf-8"></script>
 <script type="text/javascript" src="/static/lib/js/smooth.min.js"></script>
 <script type="text/javascript" src="/static/lib/swiper/swiper.jquery.min.js"></script>
 <script type="text/javascript" src="/static/lib/js/model_dlhd.js"></script>
 
 
 <!--滚动-->
  <script language=JavaScript src="/static/lib/js/rolling.js"></script>
  <link href="/static/lib/picLook/fsgallery.css" rel="stylesheet" charset="utf-8">        
 <script src="/static/lib/picLook/fs_forse.js" charset="utf-8"></script>
 
 </html>