{{template "header.html" .}}
<!--banner start-->
<div class="n_banner" style="background-image:url({{.parentinfo.CateThumb}});">
  <img src="{{.parentinfo.CateThumb}}">
  <div class="n_banner_text">
    <div class="w1500">
      <div class="n_banner_text_c bigzm">
        <h1>{{.info.Name}}</h1>
        {{.info.Short}}<br>
      </div>
    </div>
  </div>
</div>
<!--banner end-->
<!--phone内页导航start-->
<section class="a_zxlmenu">
  <div class="a_zxlmenu_t">{{.parentinfo.Name}}</div>
        <ul class="fl a_zxlmenu_c">
          {{range $v := category .parentinfo.ID .id }}
            <li>
            <a href="{{$v.Url}}" class="aone">{{$v.Name}}</a>
            </li>
          {{end}}
          
        </ul>
        <div class="clearboth"></div>
</section>
<!--phone内页导航end-->
<!--content start-->
<section class="ui_box n_bg1">
  <div class="w1500">
     <div class="n_box1 set_box_wrap">
       <div class="n_box1_l">
         <div class="n_box1_l_t">
           <div class="n_box1_l_t_c">
              <a href="/">{{if eq .id 1}}首页{{else}}HOME{{end}}</a>{{catpos .info.ID " > " | safe}}
           </div>
         </div>
         <div class="n_box1_l_c">
           <div class="n_box1_l_c_t bigzm">
            {{.parentinfo.Name}}<br>
            {{.info.Short}}
           </div>
           <ul class="n_box1_l_c_ul fl">
            {{range $v := category .parentinfo.ID .id }} 
              <li>
               <a href="{{$v.Url}}" {{if eq $v.ID $.info.ID}}class="activeleft"{{end}}>{{$v.Name}}</a>
              </li>
             {{end}} 
           </ul>
           <div class="clearboth"></div>
         </div>
       </div>
       <div class="n_box1_r">
         <div class="n_box1_r_t">
          {{.info.Name}}
         </div>
         <div class="n_box1_r_c">
           <ul class="fl n_news_list">
              {{range $item := .contentlist }}
                <li>
                  <a href="{{$item.Url}}" class="div Amplification">
                    <div class="div_l fl">
                      <span class="s1">{{$item.CreatedAt.Format "2006/01"}}</span><br>
                      {{$item.CreatedAt.Format "02"}}
                    </div>
                    <div class="div_img fl"><img src="{{$item.Thumb}}"></div>
                    <div class="div_r fl">
                      <div class="div_r_t">{{$item.Title}}</div>
                      <div class="div_r_c">
                        {{$item.Desc | safe}}
                      </div>
                    </div>
                  </a>
                </li>
              {{end}}
           </ul>
           <div class="clearboth"></div>
           {{$pageinfo :=  paginator .page 6 .total}}
           {{if gt .total 0}}
           <div class="n_box4 set_box_wrap">
            <a class="a_left" href="?page={{$pageinfo.firstpage}}&type={{$.templetype}}">上一页</a>
            <span class="a_cen">
              {{range $v := $pageinfo.pages}}
                {{if eq $v $pageinfo.currpage}}
                  <span>{{$v}}</span>
                {{else}}
                  <a href="?page={{$v}}&type={{$.templetype}}">{{$v}}</a>
                {{end}}
              {{end}}
            </span>
            <a class="a_right" href="?page={{$pageinfo.lastpage}}&type={{$.templetype}}">下一页</a>
           </div>
           {{end}}
           
         </div>
         
       </div>
     </div>
  </div>
</section>

<!--content end-->
{{template "footer.html" .}}
