{{template "header.html" .}}
<!--header end-->
<!--banner start-->
<div class="n_banner" style="background-image:url({{.parentinfo.CateThumb}});">
  <img src="{{.parentinfo.CateThumb}}">
  <div class="n_banner_text">
    <div class="w1500">
      <div class="n_banner_text_c bigzm">
        <h1>{{.parentinfo.Name}}</h1>
        {{.parentinfo.Short}}<br>
      </div>
    </div>
  </div>
</div>
<!--banner end-->
<!--content start-->
<section class="ui_box n_bg1">
  <div class="w1500">
     <div class="n_box1 set_box_wrap">
       <div class="n_box1_l">
         <div class="n_box1_l_t">
           <div class="n_box1_l_t_c">
            <a href="/">{{if eq .id 1}}首页{{else}}HOME{{end}}</a>{{catpos .cateinfo.ID " > " | safe}}
           </div>
         </div>
         
       </div>
     </div>
 </div>
</section>
<div class="n_box3">
  <div class="w1500">
    <div class="n_box5">
      <div class="n_box5_t">{{.showinfo.Title}}</div>
      <div class="n_box5_time set_box_wrap">
        <span class="s2">发布时间：{{.showinfo.CreatedAt.Format "2006/01/02"}}</span>
      </div>
      <div class="n_box5_c">
        {{.showinfo.Content | safe}}
      </div>
      <div class="n_box5_b set_box_wrap">
        <a href="{{.next.url}}" class="a_left">上一篇:{{.next.title}}</a>
        <a href="{{.cateinfo.Url}}" class="a_cen">列表页</a>
        <a href="{{.previous.url}}" class="a_right">下一篇:{{.previous.title}}</a>
      </div>
      
    </div>
  </div>
</div>
<!--content end-->
 <!--footer start-->
 {{template "footer.html" .}}
