{{template "header.html" .}}
<!--banner start-->
<div class="n_banner" style="background-image:url({{.parentinfo.CateThumb}});">
  <img src="{{.parentinfo.CateThumb}}">
  <div class="n_banner_text">
    <div class="w1500">
      <div class="n_banner_text_c bigzm">
        <h1>{{.parentinfo.Name}}</h1>
        {{.parentinfo.Short}}
      </div>
    </div>
  </div>
</div>
<!--banner end-->
<!--phone内页导航start-->
<section class="a_zxlmenu">
  <div class="a_zxlmenu_t">{{.parentinfo.Name}}</div>
        <ul class="fl a_zxlmenu_c">
          {{range $v := category .parentinfo.ID .id }}
            <li>
            <a href="{{$v.Url}}" class="aone">{{$v.Name}}</a>
            </li>
          {{end}}
          
        </ul>
        <div class="clearboth"></div>
</section>
<!--phone内页导航end-->
<!--content start-->
<section class="ui_box n_bg1" style="background-image:url(/static/lib/images/bg3.jpg);">
  <div class="w1500">
     <div class="n_box1 set_box_wrap">
       <div class="n_box1_l">
         <div class="n_box1_l_t">
           <div class="n_box1_l_t_c">
            <a href="/">{{if eq .id 1}}首页{{else}}HOME{{end}}</a>{{catpos .info.ID " > " | safe}}
           </div>
         </div>
         <div class="n_box1_l_c">
           <div class="n_box1_l_c_t bigzm">
            {{.parentinfo.Name}}<br>
            {{.parentinfo.Short}}
           </div>
           <ul class="n_box1_l_c_ul fl">
            {{range $v := category .parentinfo.ID .id }} 
              <li>
              <a href="{{$v.Url}}" {{if eq $v.ID $.info.ID}}class="activeleft"{{end}}>{{$v.Name}}</a>
              </li>
            {{end}}
           </ul>
           <div class="clearboth"></div>
         </div>
       </div>
       <div class="n_box1_r">
         <div class="n_box1_r_t">
          {{.info.Name}}
         </div>
         <div class="n_box1_r_c">
           <div class="n_about">
            {{.info.Desc | safe}}   
          </div>
           
         </div>
         
       </div>
     </div>
  </div>
</section>

<!--content end-->
 <!--footer start-->
{{template "footer.html" .}}
