@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
  'white': #ffffff,
    'black': #000000,
    'primary': (
      'base': #4d70ff,
    ),
    'success': (
      'base': #67c23a,
    ),
    'warning': (
      'base': #e6a23c,
    ),
    'danger': (
      'base': #f56c6c,
    ),
    'error': (
      'base': #f56c6c,
    ),
    'info': (
      'base': #909399,
    ),
  )
);
