/*
  Made with passion by 7be
  © 2023, 7be Design. 
*/
#userLayout {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;

  .input-icon {
    padding-right: 6px;
    padding-top: 4px;
  }

  .login_panel {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #194bfb;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .login_panel_right {
      width: 50%;
      height: 100%;
      float: right !important;
      background-color: #194bfb;

      .login_panel_img {
        height: 100%;
      }
    }

    .login_panel_f {

      width: 60%;
      height: 100%;
      // background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-evenly;


      .oblique {
        height: 130%;
        width: 60%;
        background-color: #fff;
        transform: rotate(-10deg);
        position: absolute;
        margin-left: -200px;
      }

      .login_panel_form {
        z-index: 999;
        margin-top: 100px;
        width: 400px;
        height: 100%;
        // background-color: #fff;
        padding: 20px 80px 40px 80px;
        border-radius: 10px;


        .login_panel_form_title_logo {
          display: flex;
          align-items: center;
          justify-content: center;

          .login_panel_form_title_logo_img {
            width: 90px;
          }
        }


        .login_panel_form_title_logo {

          .login_panel_form_title_logo_img {
            width: 90px;
          }
        }

        .login_panel_form_title {
          margin-bottom: 35px;



          .login_panel_form_title_t {
            text-align: center;
            font-size: 30px;
            font-weight: 600;
          }

          .login_panel_form_title_p {
            text-align: center;
            font-size: 13px;
            font-weight: 300;
            color: #718096;
            margin-top: 10px;
          }
        }

        .el-form-item {
          margin-bottom: 35px;

          .el-input {
            height: 46px;
          }


          .el-button {
            box-shadow: -0.23046875px 22.015625px 20px -16px rgba(0, 110, 255, 0.56);
            height: 46px;
          }
        }

        .vPicBox {
          display: flex;
          justify-content: space-between;
          width: 100%;

        }

        .vPic {
          width: 33%;
          height: 45px;
          background: #c3d4f2;
          border-radius: 3px;

          img {
            width: 100%;
            height: 100%;
            vertical-align: middle;
          }
        }
      }
    }



    .login_panel_foot {
      position: absolute;
      bottom: 20px;


      .links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 200px;
        margin-left: 40%;
        transform: translateX(-50%);

        .link-icon {
          width: 30px;
          height: 30px;
        }
      }

      .copyright {
        color: #777777;
        margin-top: 15px;
        margin-left: -110px;
      }
    }
  }
}

//小屏幕不显示右侧，将登录框居中
@media (max-width: 750px) {
  .login_panel_right {
    display: none;

  }

  .login_panel {
    width: 100vw !important;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #fff !important;
  }

  .login_panel_form {
    width: 100%;
    padding: 0px !important;
  }
}