.clearflex {
    *zoom: 1;
}

.clearflex:after {
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.fl-left {
    float: left;
}

.fl-right {
    float: right;
}

.mg {
    margin: 10px !important;
}

.left-mg-xs {
    margin-left: 6px !important;
}

.left-mg-sm {
    margin-left: 10px !important;
}

.left-mg-md {
    margin-left: 14px !important;
}

.top-mg-lg {
    margin-top: 20px !important;
}

.tb-mg-lg {
    margin: 20px 0 !important;
}

.bottom-mg-lg {
    margin-bottom: 20px !important;
}

.left-mg-lg {
    margin-left: 18px !important;
}

.title-1 {
    text-align: center;
    font-size: 32px;
}

.title-3 {
    text-align: center;
}

.el-pager li.active{
    color: #409EFF !important;
    border: 1px solid #409EFF;
}

.el-pager li.active+li{
    border-left: 1px;
}

.el-pager li:hover{
    color: #409EFF !important;
    border: 1px solid #409EFF;
}