// basice
$font-size: 14px;
$icon-size:18px;
$active-color:#1890ff;
$bg-main:#f0f2f5;
$border-color: #f4f4f4;
$white-bg:#fff;
$el-icon-small:30px;
$el-icon-mini:24px;
// aside
$width-aside:220px;
$width-hideside-aside:54px;
$width-mobile-aside:210px;
$color-aside:rgba(255, 255, 255, .9);
$icon-arrow-size-aside:12px;
$width-submenu-aside:55px;
$height-aside-tilte:60px;
$height-aside-img:30px;
$width-aside-img:30px;
// header
$height-header: 60px;
// nav-scroll
$height-nav-scroll:40px;
$active-bg-tabs-item-nav-scroll:#409eff;
$bg-tabs-item-nav-scroll:#ddd;
// table
$bg-color-table-thead:#fafafa;
$border-color-table:#ededed;
$height-table-cell:45px;
$color-table-tbody:#595959;
$color-table-thead:#262626;
// dashboard
$height-car:68px;
// mobile
$padding-xs: 5px;
$margin-xs: 5px;