@import '@/style/basics.scss';
@media screen and (min-width: 320px)and (max-width: 750px) {
    .el-header {
        @apply px-1.5;
    }
    .layout-cont {
        .main-cont {
            .breadcrumb {
                @apply px-1.5;
            }
        }
    }
    .el-main {
        .admin-box {
            @apply mx-0;
        }
    }
    .el-dialog {
        width: 90%;
    }
    .el-transfer {
        .el-transfer-panel {
            width: 40%;
            display: inline-block;
        }
        .el-transfer__buttons {
            padding: 0 5px;
            display: inline-block;
        }
    }
}
