.gva-search {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 8px;
  border-radius: 6px;
  margin: 10px 0;
  &-btns {
    padding-top: 20px;
    width: 120px;
    display: flex;
    flex-direction: column;
    &-item {
      margin-left: 0 !important;
      margin-bottom: 10px;
      height: 38px !important;
    }
  }
  &-form {
    $--search-input-width: 420px;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(
      auto-fill, minmax($--search-input-width, 1fr)
    );
    column-gap: 4px;
    border-right: 2px solid #eee;
    margin-right: 10px;
    padding-top: 10px;
    padding-right: 40px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      right: 0;
      height: 20px;
      background-image: linear-gradient(to bottom, transparent 10%, #fff 100%);
    }

    &-item {
      display: flex;
      align-items: center;
      padding: 10px;
      width: 100%;
      --el-input-height: 40px;
      --el-date-editor-width: 100%;
      :deep(.el-input__inner) {
        height: 40px;
        width: 100%;
      }
      :deep(.el-form-item__content) {
        height: 40px;
      }

      &.date-picker{
        grid-column-start: span 2;
      }
    }
    &-input {
      width: calc(100% - 40px);
      height: 40px;
    }
    &-select {
      flex:1;
      height: 40px;
    }

    &-time{
      flex:1;
      height: 40px;
    }
    .el-button {
      height: 40px;
      padding: 10px 24px;
    }
  }
}
